BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
TabWidth: 4
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
IndentAccessModifiers: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
# includes
IncludeBlocks: Regroup
SortIncludes:
  Enabled: true
  IgnoreCase: false
IncludeCategories:
  - Regex:           '^"engine/.*\.(h|hpp)"$'       # Engine Source header file
    Priority:        1
  - Regex:           '^"game/.*\.(h|hpp)"$'         # Game Source header file
    Priority:        2
  - Regex:           '^<([a-z0-9_]+)>$'             # Standard C/C++ library headers
    Priority:        3
  - Regex:           '^<(glm|SDL3.*)/.*>$'          # vendors
    Priority:        4
  - Regex:           '^<engine/.*>$'                # Project-specific system headers
    Priority:        5
  - Regex:           '^"engine/.*"$'                # Project-specific headers
    Priority:        6
  - Regex:           '^<game/.*>$'                  # Game-specific System headers
    Priority:        7
  - Regex:           '^"game/.*"$'                  # Game-specific headers
    Priority:        8
  - Regex:           '^".*"'                        # local headers
    Priority:        9